@charset "utf-8";

/* Reset CSS */

/*　全要素に対し、paddingとborderの太さをその指定したサイズに含める　*/
*,*::before,*::after {
	box-sizing: border-box;
}

/*　行間や、強制改行　*/
body,h1,h2,h3,h4,h5,h6,article,section,header,footer,nav,aside,p,hr,ul,ol,li,dl,dt,dd,div,
main,em,strong,small,i,b,spantable,caption,tr,th,td,pre,label,input,textarea,select,button {
	padding: 0;
	margin: 0;
	font-weight: normal;
	line-height: 1.6;
	word-wrap: break-word;
}

/*　複数環境を想定したフォント設定　*/
body {
	font-family: "Hiragino Sans W3", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	color: #333;
}

/*　italicにさせない　*/
address,em,i {
	font-style: normal;
}

/*　太文字にさせない　*/
strong,th,b {
	font-weight: normal;
}

/*　画像は横一杯にする指定　*/
img {
	width: 100%;
	height: auto;
	vertical-align: bottom;
}

/*　親要素の文字色を引き継ぐ　*/
a {
	color: inherit;
	text-decoration: none;
}

/*　ホバーで薄くなる　*/
a:hover {
	opacity: 0.6;
}
