@charset "utf-8";

/*root-----------------------------------------------------------*/

:root {
	--main-color: #0C2B4E;
	--accent-color: #1A3D64;
	--bg-color: #1D546C;
	--text-color: F4F4F4;
}

/*---------------------------------------------------------------*/

* {
  box-sizing: border-box;	/*固定ヘッダ関連*/
}


html {
	background: #eee;
	font-family: system-ui;
}

body {
	width: 100%;
	color: #333;
}

/*		周辺減光アソビするならこれ
body::before {
	content: "";
	position: fixed;
	inset: 0;
	pointer-events: none;
	box-shadow: 0 0 100px 0px rgba(0,0,0,0.5) inset;
	z-index: 9999;
}
*/


これが効く理由


html, body {
  overflow-x: hidden;	/*固定ヘッダ関連*/
}

/*ヘッダー-------------------------------------------------------*/

/*ハンバーガーメニュー関連は下です*/

header {
	top: 0;
	left: 0;
	right: 0;
	width: auto; /* ←これでビューポートにピッタリ */
	height: clamp(40px, 18vw, 60px);
	background: #fff;
	position: fixed;
	z-index: 999;
	display: flex;
	align-items: center;
	justify-content: flex-end;
/*	box-shadow: 0px 10px 0px rgba(0,0,0,0.5);	*/
}

header a {
	display: block;
	height: 100%;
	object-fit: contain;
}

.logo {
	height: 100%;
	object-fit: contain;
	overflow: hidden;	/*transform時にハミ出ないように*/
	position: absolute;
	left: 0;
	bottom: 0;
	height: clamp(40px, 18vw, 60px);
	background: #fff;
}

.logo img {
	height: 100%;
/*	width: 100%;	*/
	object-fit: contain;
	background: #eee;
/*	position: fixed;	 固定！ */
	transition: transform 0.4s ease;
}

.logo img:hover {
	transform: scale(1.2); /* hover時に拡大 */
}

.item {
	margin-left: 20px;
  	padding-right: 1.4vw;
	font-weight: bold;
	font-size: clamp(10px, 3vw, 18px);
	vertical-align: middle;
	color: #222;
/*	text-shadow: 2px 2px black;	*/
}

/*.item:hover {
	transform: scale(1.1); 	
}*/

.item_box {
	color: #222;
	display: flex;
	height: 60px;
	transition: transform 0.4s ease;
	align-items: center;
	border-bottom: 3px solid transparent;
	transition: border-color 0.6s ease;
}

.item_box:hover {
	color: #222;
	border-color: #333;
}

.jump:hover {
	opacity: 1;
}

.hero_image {
	padding-top: 60px;
	display: block;
	width: 100%;
	margin: 0px auto 0px auto;
/*	box-shadow: 10px 10px 0px RGBA(0, 0, 0, 0.5);	*/
}

.menu {
	display: flex;
	margin: 0 auto;
}

.down_arrow {
	-webkit-text-stroke-width: 7px;
	-webkit-text-stroke-color: #555;
	text-align: center;
	font-size: 70px;
	color: #eee;
	animation: fuwafuwa 2s ease-in-out infinite;
}

.arrow_1 {
	margin-top: -160px;
}

.arrow_2 {
	clear: both;
	margin-top: 20px;
}

.arrow_3 {
	margin-top: -100px;
}

/*aboutから------------------------------------------------------*/

.about_outer {
	width: 95%;
	background: #fff;
	margin: 200px auto 0 auto;
	padding-bottom: 100px;
	border-radius:20px;
/*	filter: drop-shadow(10px 10px 10px rgba(0,0,0,1));	*/
/*	box-shadow: 10px 10px 0px RGBA(0, 0, 0, 0.25);		*/
}

.title {
	font-family: sans-serif;
	letter-spacing: 0.1em;
	background: #ddd;
	display: block;
	text-align: center;
	margin: 0 auto 0px;
	font-size: 28px;
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
/*	filter: drop-shadow(5px 5px 10px rgba(0,0,0,1));	*/
/*	box-shadow: 10px 10px 0px RGBA(0, 0, 0, 0.25);		*/
}

.about_outer {
	width: 100%;
}

#about {
	padding-top: 60px;
	padding-bottom: 40px;
	scroll-margin-top: 200px;
	background: #fff;
}

#about H2{
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 20px;
}

#about p {
	font-size: 18px;
}

#about .selfIntroduction {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	width: 80%;
	margin: 45px auto 0 auto;
}

.profile {
	margin-left: 5%;
	width:65%
}

.in_logo {
	display: block;
	aspect-ratio: 1 / 1;
	height: 150px;
	width:150px;
/*	filter: drop-shadow(5px 5px 10px rgba(0,0,0,1));	*/
/*	box-shadow: 10px 10px 0px RGBA(0, 0, 0, 0.25);		*/
}

/*skillsから------------------------------------------------------*/

.skills_outer {
	width: 90%;	
	background: #fff;
	margin: 200px auto 0 auto;
	border-radius: 20px;
/*	filter: drop-shadow(10px 10px 10px rgba(0,0,0,1));	*/
/*	box-shadow: 10px 10px 0px RGBA(0, 0, 0, 0.25);		*/
}

#skill_container {
	padding: 0 30px;
	width: 100%;
	scroll-margin-top: 200px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-bottom: 30px;
	background: #fff;
}

.skill {
	width: 33.3333%;
	height: 490px;
	padding: 0 40px;
}

.skill_title {
	width: 100%;
	padding: 20px;
	margin-top: 60px;
}

/*
.skill h3 {
	font-family: sans-serif;
	letter-spacing: 0.1em;
	font-size: 25px;
	padding: 10px 0 15px;
	text-align: center;
}
*/

img.skill_icon {
	display: block;
	width: 30%;
	margin: 30px auto 30px;
}

.skill p {
	font-size: 15px;
}

#subskill_outer {
	margin-top: 60px;
	width: 100%;
	background: #eee;
	border-radius: 20px;
	padding-bottom: 10px;
}

.subskill_title_container {
	width:100%;
	padding: 10px;
}

.subskill_title {
	text-align: center;
	flex: 0 0 100%;
}

.subskill_container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.subskill {
	margin: 10px 30px 10px 30px;
	display: block;
/*	background: #fff;	*/
	border: solid 1px #ccc;
	border-radius: 20px;
	width: 30%;
	min-width: 30%;
}

.subskill h4 {
	margin:10px auto;
	text-align: center;
}

.subskill p {
	font-size: 14px;
	margin: 10px 20px;
}





/*トップへ戻る---------------------------------------------------*/

.to_top {
	display: none;
	background: #333;
	width: 70px;
	height: 70px;
	position: fixed;
	bottom: 60px;
	right: 60px;
	border: 3px solid #ddd;
	border-radius: 40px;
	transition: transform 0.4s ease;
}

.to_top p {
	display: block;
	text-align: center;
	color: #ddd;
	font-size: 40px;
	padding: 5px 10px 30px 10px;
	margin: auto auto;
}

.to_top:hover {
	transform: scale(1.1); /* hover時に拡大 */
}

/*フッター・入力フォーム-----------------------------------------*/

footer {
	width: 100%;
/*	background: #333;	*/
/*	background: linear-gradient(119deg, rgba(65, 198, 219, 1) 0%, rgba(36, 174, 223, 1) 37%, rgba(75, 157, 236, 1) 100%);		*/
	background: linear-gradient(135deg, #E0E0E0, #B3B3B3, #666666);
	margin-top: 100px;
	padding-bottom: 100px;
	scroll-margin-top: 60px;
}

.contact_form {
	padding-top: 30px;
	margin: 0 auto;
	width: 100%;
	color: #666;
	padding: 60px 0 0 15%;
}

.contact_form H2 {
	padding: 0 30px 30px 0;
}

form p {
	display: block;
	width: 60%;
	border-bottom: 3px dashed #999;
	margin-bottom: 20px;
}

input, textarea {
	outline: none;       /* フォーカス時の青枠を消す */
	border-bottom: 2px solid #333; /* 下線だけにする */
	padding: 8px;
	font-size: 16px;
	width: 50%;
	height: 200px;
	border: 1px solid #ccc;
	border-radius: 6px;   /* 角丸 */
	padding: 10px;
	box-shadow: inset 0 1px 3px rgba(0,0,0,0.1); /* 内側の影 */
 	box-shadow: 10px 10px 0px RGBA(0, 0, 0, 0.25);
}

.name, .mail {
	width: 30%;
	margin-bottom: 70px;
	height: 40px;
}

#button {
	width: 100px;
	height: 40px;
	line-height: 40px; /* 高さと同じにする */
	margin-top: 30px;
	background-color: #666; /* 背景色 */
	color: white;              /* 文字色 */
	padding: 0px;        		/* 内側余白 */
	border: none;              /* 枠線なし */
	border-radius: 5px;        /* 角丸 */
	cursor: pointer;           /* ホバー時にポインタ */
}

#button:hover {
	background-color: #45a049; /* 少し濃い色に */
	transform: scale(1.05);    /* ほんの少し拡大 */
}

/*レスポンシブ対応-------------------------------------------------*/

/*PC-------------------------------------------------------------*/

@media screen and (min-width: 768px) {


	@keyframes fuwafuwa {
	    0%   { transform: translateY(0); }
	    50%  { transform: translateY(-10px); }
	    100% { transform: translateY(0); }
	}

	header {
		display: flex;	
	}

	.pc {
		display: block;
	}
	
	.sp {
		display: none;
	}

	.menu {
		display: flex;
  	}
  	
  	.item {
		display: inline;
  	}
  	
  	.hamburger {
  		display: none;
  	}
  	
  	.in_logo {
		display: block;
		margin: 0 3% 0 5%;
  	}
}

/*スマホ---------------------------------------------------------*/

.hamburger {
	display: none;	/*PC時に消す命令*/
	font-size: 40px;
	color: #444;
	cursor: pointer;
	position: absolute;
	right: 20px;
	z-index: 1000; /* メニューより前面 */
}

@media screen and (max-width: 768px) {
	
	@keyframes fuwafuwa {
	  0%   { transform: translate(-50%, 0); }
	  50%  { transform: translate(-50%, -10px); }
	  100% { transform: translate(-50%, 0); }
	}

	.pc {
		display: none;
	}
	
	.sp {
		display: block;
		margin-bottom: 0px;
		overflow: hidden; /* または auto */
	}
	
	.menu {
		/* display: none; */
		flex-direction: column;
		align-items: center;
		background: #eee;
		position: absolute;
		top: 0px;
		right: 0;
		width: 80%;
		height: 1000px;
		padding: 20px 0;
		font-size: 20px;
		transform: translateX(100%); /* 初期状態：画面外 */
		transition: transform 0.3s ease;
		position: fixed;
		z-index: 2000;
	}

	.menu.active {
		display: flex;
		transform: translateX(0); /* 画面内へ */
	}
	
	.overlay {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0,0,0,0.5);
		opacity: 0;
		pointer-events: none;
		transition: opacity .3s;
		z-index: 1000;
	}

	.overlay.active {
		opacity: 1;
		pointer-events: auto;
	}


  	.item {
    	margin: 10px 0;
    	display: block;
		color: #eee;
		font-size: 20px;
	}

  	.hamburger {
    	display: block;
 	}

	.down_arrow {
		margin-top: -340px;
		position: absolute;
		Left: 50%;
		animation: fuwafuwa 3s infinite;
	}

	.arrow_2 {
		display: none;
	}

	.arrow_3 {
		display: none;
	}

	#about {
		padding-top: 0px;
	}

	.about_outer {
		margin: 0 auto 0 auto;
	}
	
	.in_logo {
		float: none;
		margin: 0 auto;
		display: block;
		margin-bottom: 60px;
	}

	#about .selfIntroduction {
		width: 90%;
	}

	.selfIntroduction p {
		float: none;
	}
	
	.selfIntroduction .space {
		display:none;
	}
	
	.profile {
		margin: 0 auto;
		width:100%;
	}
	
	.skills_outer {
 		width: 100%;
 	}

	.skill_title{
		margin-top: 10px;
	}
	
	.skill {
		width: 90%;
		margin: 26px auto;
		height: auto;
		padding: 0 0;
	}

	.subskill {
		width:100%;
	}

	.to_top {
		display: none;
		width: 70px;
		height: 70px;
		position: fixed;
		bottom: 100px;	/*Androidのナビバーに注意*/
		right: 20px;
		border: 3px solid #ddd;
		border-radius: 40px;
	}

	.to_top p{
		display: block;
		text-align: center;
		font-size: 40px;
		padding: 5px 10px 30px 10px;
		margin: auto auto;
	}
	
	.contact_form {
		margin: 0 0;
		padding: 35px 0 0 5%;
	}
	
	.name{
		width: 70%;
	}
	
	.mail{
		width: 70%;
	}
	
	.mail_text {
		width: 95%;
	}
	
}
















